{% extends '@BKCore/layout.html.twig' %}

{% block main_content %}
    <div id="hero" class="static-header register-version light clearfix">

        <div class="text-heading">
            <p class="animated hiding" data-animation="fadeInDown" data-delay="500">The most simple & profitable</p>
            <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">Marketing Automation Tool</h1>
            <p class="animated hiding" data-animation="fadeInDown" data-delay="500">for online sellers</p>
            <div class="button-access">
                <div class="count">
                    Join {{ businessesCount }} businesses all around the world
                </div>
                <div class="button-signup">
                    <a href="#sign-up" class="btn btn-success animated bounceIn visible to-sign-up-form"
                       data-animation="bounceIn"
                       data-delay="700">Join now</a>
                </div>
            </div>

        </div>

    </div>

    <a id="sign-up"></a>
    <section id="join-form" class="section dark">
        <div class="container">
            <div class="section-header animated fadeInDown visible" data-animation="fadeInDown">
                <h2>Do you want more sales?</h2>

                <div class="sub-heading">
                    Beeketing grows our revenue by 20% right after the first month!
                    Will the next be yours?
                </div>
                <br>

                <p>
                    {% include 'BKCoreBundle:Default:subscribe_form.html.twig' %}
                </p>
                <p class="word-hard">Sounds good, but what do I get from joining?</p>
            </div>

        </div>
    </section>

    <section id="about" class="section dark">
        <div class="container">



            <div class="section-content row">
                <div class="col-sm-6 pull-right animated hiding" data-animation="fadeInRight">
                    <img src="{{ asset('bundles/bkcore/images/story/viewed.jpg') }}"
                         class="img-responsive"
                         alt="process 2"/>
                </div>
                <div class="col-sm-6 animated hiding clearfix" data-animation="fadeInLeft">
                    <br/><br/>
                    <article>
                        <h3>Track & Analyze</br>
                            Customers' browsing history</h3>

                        <div class="sub-title">
                            <ul>
                                <li>Understand your customers better</li>
                                <li>Realize more potential sales</li>
                            </ul>
                        </div>
                    </article>
                </div>

                <hr class="clearfix"/>

                <div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
                    <img src="{{ asset('bundles/bkcore/images/story/increase_sales.png') }}"
                         class="img-responsive"
                         alt="process 3"/>
                </div>
                <div class="col-sm-6 animated hiding sell-more" data-animation="fadeInRight">
                    <div class="row">


                        <br/><br/>
                        <article>
                            <h3>Automatically create & send</br>personalized emails that sell</h3>

                            <div class="sub-title">Do you find it hard to make good sale emails that</br>
                                actually convert customers?</br>
                                Worry no more, we'll do it all for you!
                            </div>
                        </article>
                    </div>
                </div>

                <hr class="clearfix"/>

                <div class="col-sm-6 pull-right animated hiding money-making clearfix" data-animation="fadeInRight">
                    <img src="{{ asset('bundles/bkcore/images/story/love-these.png') }}"
                         class="img-responsive"
                         alt="process 3"/>
                </div>
                <div class="col-sm-6 animated hiding money-making" data-animation="fadeInLeft">
                    <br/><br/>
                    <article>
                        <h3>Show products</br>
                        your customers more likely </br>
                        to buy</h3>

                        <div class="sub-title">
                            Increase conversion rate
                        </div>
                    </article>
                </div>

                <hr class="clearfix"/>
            </div>
        </div>
    </section>

    <section id="sign-up-form-2" class="section dark">
        <div class="container">
            <div class="section-header animated fadeInDown visible" data-animation="fadeInDown">
                <h2>Don't believe what we said?</h2>

                <div class="sub-heading">
                    Sign up for early access now and try it yourself
                </div>
                <br>

                <p>
                    {% include 'BKCoreBundle:Default:subscribe_form.html.twig' %}
                </p>
            </div>
        </div>
    </section>
{% endblock main_content %}