{% extends '@BKCore/layout.html.twig' %}


{% block main_content %}
    {#Html here#}
    <section id="pricing">
        <div class="container">
            <div class="col-md-6 information">
                <h1>Super simple <span>pricing</span></h1>
                <div class="information-1">
                    <h2>That's only</h2>
                    <div class="price">
                        <h1>$0.09</h1>
                    </div>
                    <p>per customer per month</p>
                </div>
                <div class="information-2">
                    <p class="price">$22.5<span>/Montth<span></p>
                    <p>for every 250 customers</p>
                </div>
                <div class="information-3">
                    <div class="col-md-6 col-xs-8">
                        <p>30 days free trial, cancel anytime </p>
                    </div>
                    <div class="col-md-6 col-xs-4 button-access">
                        <input type="submit" class="btn btn-primary" value="Get started now">
                    </div>
                </div>
            </div>
            <div class="col-md-5 pull-right information-img">
                <img src="{{ asset('bundles/bkcore/images/login/xinh.png') }}" alt="cuoi"/>
                <div class="information-img-1">
                    <h3>All plans include</h3>
                    <ul>
                        <li>Automatically integreate and sync with online stores</li>
                        <li>Unlimited tracking actions</li>
                        <li>Smart recommendation system</li>
                        <li>Unlimited emails</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <footer id="footer-login" class="footer light">
        <div class="container">
            <div style="height: 39px;" class="space-height"></div>
            <div class="social-links">
                <ul class="nav nav-pills">
                    <li class="facebook">
                        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbeeketing&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21"
                                scrolling="no" frameborder="0"
                                style="border:none; overflow:hidden; width:100px; height:21px;"
                                allowTransparency="true"></iframe>
                    </li>
                    <li class="twitter">
                        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                                src="//platform.twitter.com/widgets/follow_button.html?screen_name=beeketing"
                                style="width:200px; height:20px;"></iframe>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright-mobile"><a style="color: white;" href="mailto:quan@beeketing.com">Contact Us</a>
            <p>&copy; Beeketing 2014. All rights reserved.</p>
        </div>
        <div class="copyright"><a style="color: white;" href="mailto:quan@beeketing.com">Contact Us</a> | &copy; Beeketing 2014. All rights reserved.
        </div>
    </footer>
{% endblock footer %}