<form class="sign-up-form" name="signup" action="{{ path('bk_core_submit') }}" method="post">
    <input type="hidden" id="referrer" name="referrer" value="{{ refCode }}">
    <input type="email" class="form-control input-lg huge" id="email" name="email" value=""
           placeholder="Email address" required="requried">
    <button class="btn btn-success" type="submit" name="button">
		<span class="button-inner">
			Get Early Access
		</span>

    </button>
</form>