<form class="form sign-up-form" name="signup" action="{{ path('bk_core_submit') }}" method="post">
    <input type="hidden" id="referrer" name="referrer" value="{{ refCode }}">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your email address" id="email-input" name="email" >
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Get early access" />
            </div>
        </div>
    </div>
</form>